# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Type checking
.mypy_cache/
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# Logs
logs/*
!logs/.gitkeep
.claude/
app/app.log
llm_LOG.txt
data/

# Databases
*.db
*.sqlite
*.sqlite3
